.carousel {
  height: 450px;
  overflow: hidden;
}

.topbar a {
  color: #ffffff;
}

.left-bar ul {
  list-style: none;
  height: 100%;
}

.bg-4 {
  background-image: url(https://cdn.pixabay.com/photo/2021/07/16/15/29/hellebore-6471156__340.jpg);
  background-size: cover;
  height: 100%;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  background: #0101017a;
  padding: 30px 50px;
  border-radius: 5px;
}

.left-bar ul li {
  padding: 0 20px;
  color: #ffffff;
}

/* fluid 5 columns */
.grid {
  background: #eee;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* Subscribe Content */

.subscribe {
  background-color: rgb(226, 226, 226);
  padding: 30px;
}

.subscribe-content {
  width: 50%;
  margin: 0 auto;
}

#button-addon2 {
  background-color: black;
  width: 30%;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.list-group {
  background-color: transparent !important;
}

/* Footer Bar Design */

.foot-menu {
  list-style: none;
  padding: 0;
}

.foot-menu li {
  color: #bcbcbc;
  font-size: 14px;
  line-height: 18px;
}

/* Login Form */

.login-page {
  background: #222d32;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-box {
  height: auto;
  background: #1a2226;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
  height: 100px;
  font-size: 80px;
  line-height: 100px;
  background: -webkit-linear-gradient(#27ef9f, #0db8de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 15px;
  font-weight: bold;
  color: #ecf0f5;
}

.login-form {
  margin-top: 25px;
  text-align: left;
}

input[type="text"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #ecf0f5;
}

input[type="password"] {
  background-color: #1a2226;
  border: none;
  border-bottom: 2px solid #0db8de;
  border-top: 0px;
  border-radius: 0px;
  font-weight: bold;
  outline: 0;
  padding-left: 0px;
  margin-bottom: 20px;
  color: #ecf0f5;
}

.form-group {
  margin-bottom: 40px;
  outline: 0px;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #0db8de;
  outline: 0;
  background-color: #1a2226;
  color: #ecf0f5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0;
}

label {
  margin-bottom: 0px;
}

.form-control-label {
  font-size: 10px;
  color: #6c6c6c;
  font-weight: bold;
  letter-spacing: 1px;
}

.btn-outline-primary {
  border-color: #0db8de;
  color: #0db8de;
  border-radius: 0px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
  background-color: #0db8de;
  right: 0px;
}

.login-btm {
  float: left;
}

.login-button {
  padding-right: 0px;
  text-align: right;
  margin-bottom: 25px;
}

.login-text {
  text-align: left;
  padding-left: 0px;
  color: #a2a4a4;
}

.loginbttm {
  padding: 0px;
}


/* Cart Page */

.thumbnail{
  margin-right: 20px;
}
